:root {
	/* Colors */
	--accent: #E63946;
	--background: #FAF9F8;
	--lightAccent: #A8DAE5;
	--lighterAccent: #E6E8E4;
	--dark: #457B9D;
	--darker: #1D3557;
	--slate: #2F3948;

	--white: #fff;
	--black: #152030;

	--ink: var(--slate);
	--paper: var(--background);

	/**
	 * These fonts are broken out into two separate variables from a previous iteration. I left
	 * it in because it's nice to be able to split out the heading and body fonts.
	 */
	--accentFont: 'Newsreader', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--primaryFont: 'Newsreader', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--codeFont: 'Fira Code', monospace;
}
